.button,
.input,
.textarea,
.select select {
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 3px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 3px);
  position: relative;
  vertical-align: top;
}

.button:focus,
.input:focus,
.textarea:focus,
.select select:focus,
.is-focused.button,
.is-focused.input,
.is-focused.textarea,
.select select.is-focused,
.button:active,
.input:active,
.textarea:active,
.select select:active,
.is-active.button,
.is-active.input,
.is-active.textarea,
.select select.is-active {
  outline: none;
}

.button {
  font-size: 14px;
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  user-select: none;
}

.button:hover {
  border-color: #b5b5b5;
  color: #363636;
}

.button:focus {
  border-color: #485fc7;
  color: #363636;
}

.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.button:active {
  border-color: #4a4a4a;
  color: #363636;
}

.button.is-fullwidth {
  display: flex;
  width: 100%;
}

.button.is-link {
  background-color: #485fc7;
  border-color: transparent;
  color: #fff;
}

.button.is-link:hover {
  background-color: #3e56c4;
  border-color: transparent;
  color: #fff;
}

.button.is-link:focus {
  border-color: transparent;
  color: #fff;
}

.button.is-link:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.button.is-link:active {
  background-color: #3a51bb;
  border-color: transparent;
  color: #fff;
}

.button.is-light {
  background-color: whitesmoke;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-light:hover {
  background-color: #eeeeee;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-light:focus {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-light:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(245, 245, 245, 0.25);
}

.button.is-light:active {
  background-color: #e8e8e8;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button.is-link.is-light {
  background-color: #eff1fa;
  color: #3850b7;
}

.button.is-link.is-light:hover {
  background-color: #e6e9f7;
  border-color: transparent;
  color: #3850b7;
}

.button.is-link.is-light:active {
  background-color: #dce0f4;
  border-color: transparent;
  color: #3850b7;
}

.button.is-text {
  background-color: transparent;
  border-color: transparent;
  color: #4a4a4a;
  text-decoration: underline;
}

.button.is-text:hover .button.is-text:focus {
  background-color: whitesmoke;
  color: #363636;
}

.button.is-text:active {
  background-color: #e8e8e8;
  color: #363636;
}

.input,
.textarea,
.select select {
  background-color: #ffffff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
}

.input:hover,
.textarea:hover,
.select select:hover,
.select select.is-hovered {
  border-color: #b5b5b5;
}

.input:focus,
.textarea:focus,
.select select:focus,
.select select.is-focused,
.input:active,
.textarea:active,
.select select:active,
.select select.is-active {
  border-color: #485fc7;
  box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.input,
.textarea {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%;
  height: 1.5em;
}

.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(0.75em - 1px);
  resize: vertical;
}

.textarea:not([rows]) {
  max-height: 40em;
  min-height: 8em;
}

.textarea[rows] {
  height: initial;
}

.textarea.has-fixed-size {
  resize: none;
}

.checkbox,
.radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;
}

.checkbox input,
.radio input {
  cursor: pointer;
}

.checkbox:hover,
.radio:hover {
  color: #363636;
}

.radio + .radio {
  margin-left: 0.5em;
}

.select {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select select {
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
}

.select.is-normal {
  font-size: 1rem;
}

.label {
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.label:not(:last-child) {
  margin-bottom: 0.5em;
}

.label.is-normal {
  font-size: 1rem;
}
