.content {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.content-title {
  color: #485fc7;
}

.wrap {
  display: inline-block;
  width: 70px;
  height: 100px;
  padding-right: 1rem;
  cursor: pointer;
}

.book-content {
  padding-left: 30px;
}

.book-list {
  margin-top: 20px;
}

.big-image {
  width: 218px;
  margin: 0;
  cursor: pointer;
}

.image {
  width: 70px;
  height: 100px;
}

.is-active {
  border: 3px solid #0033ff;
}

.book_info {
  margin-top: 1rem;
}

.title {
  font-size: 17px;
  font-weight: 700;
  color: #333333;
  cursor: pointer;
  padding-bottom: 6px;
}

.author,
.publisher {
  display: inline-block;
  font-size: 12px;
  color: #999999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.price {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  padding-top: 6px;
}

.readcon {
  margin-top: 24px;
  max-height: 80px;
  overflow: hidden;
  font-size: 12px;
  color: #999999;
  line-height: 20px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.no-padding {
  padding: 0;
}
