.content {
  display: block;
}

.content-title {
  color: #485fc7;
  margin-bottom: 6px;
}

.content-subtitle {
  font-weight: 400;
  margin-bottom: 2rem;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}
