* {
  margin: 0;
}

.content {
  width: 600px;
  margin: 0;
}

.content-title {
  color: #485fc7;
  margin-bottom: 5rem;
}

.wrap-col {
  display: flex;
  flex-direction: column;
}

.wrap-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 0.7rem;
}

.input {
  width: 300px;
  height: 40px;
  margin-bottom: 0.6rem;
}

.button {
  width: 325px;
  height: 50px;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}

.spacing {
  margin-right: 1rem;
}

a {
  color: #333333;
  font-size: 12px;
  text-decoration: none;
}
